@use 'sections';
@import 'colors';

.container {
  background-color: $primary-dark;
  padding: calc(5rem + 2.5rem) 5rem 4rem 5rem;
  display: flex;

  .section {
    width: 50%;

    &:first-child {
      padding-right: 5rem;
      padding-bottom: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &:nth-child(2) {
      padding-left: 5rem;
      display: flex;
    }
  }

  .content {
    color: $secondary-light;
    font-weight: normal;
  }
}