@use 'sections';
@import 'colors';
@import 'mediaHelper';

.container {
  background-color: $secondary-dark;
  padding: calc(5rem + 2rem) 5rem 2.5rem 5rem;
  
  .list {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
      margin: 0 2rem 2rem 0;
    }
  }
}

@include breakMedia(md) {
  .container {
    .list {
      display: flex;
      flex-wrap: wrap;

      div {
        width: 15rem;
        height: 15rem;
      }
    }
  }
}

@include breakMedia(sm) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;

    .list {
      padding-left: unset;
      padding-right: unset;

      div {
        width: 12rem;
        height: 12rem;
      }
    }
  }
}

@include breakMedia(xs) {
  .container {
    .list {
      div {
        width: 60vw;
        height: 60vw;
        margin-right: unset;
        aspect-ratio: 1 1;
      }
    }
  }
}