@keyframes updown {
  0% {
    transform: translateY(-1%);
  }

  50% {
    transform: translateY(1%);
  }

  100% {
    transform: translateY(-1%);
  }
}

@keyframes sideways {
  50% {
    transform: translateX(6rem);
  }
}