$primary-dark: #07060F;
$primary-lighter-dark: #0D0B1E;
$primary-dark-purple: #270E3F;
$primary-mid-purple: #270E3F;
$primary-light: #DCD8FF;
$primary-blueish-light: #998FF7;

$secondary-dark: #05040A;
$secondary-lighter-dark: #1A182F;
$secondary-mid-purple: #583080;
$secondary-mid-lighter-purple: #864EE0;
$secondary-light: #ECEAFF;

$text-light: #F9F9F9;
$text-dark: #AAB0B9;
$text-yellow: #F8C40D;
$text-link: #524FE2;