@import 'colors';

.header {
  h4 {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: $text-yellow;
    letter-spacing: 0.15rem;
    white-space: nowrap;
  }

  p {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }
}